# This directory is used by makefiles at runtime
.ignore/

# https://github.com/tmknom/makefiles
.makefiles/

# Tools for environment variables
.envrc
.env

# Editors
.idea/
.vscode/

# macOS
.DS_Store

# General
tmp/
*.log
